<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head th:fragment="head(titulo)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nexioo Demand — Gerenciamento moderno, simples e direto de demandas em quadro Kanban">
    <title th:text="|${titulo} — Nexioo Demand|">Nexioo Demand</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/kanban.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
</html>
